:root {
    --background-color: #D4D3CF;
    --primary-color: #F8F3E9;
    --secondary-color: #E46854;
    --backgound-color-darkmode: #515276;

}

header {
    display: flex;
    justify-content: center
}

nav {
    display: flex;
    justify-content: space-between;
    width:  90%;
}

button {
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-color: #ad4e3f;
}

button:hover {
    background-color: #984436;
}

main {
    display: flex;
    justify-content: center;
}

main section {
    width: 90%;
}

button {
    height: 30px;
    width: 60px;
}


#toggle-div {
    display: flex;
    gap: 8px;
    align-items: center;
}

#blog-list {
    align-items: center;
    flex-direction: column;
}

.blog-post {
    width: 90%;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 20px 0;
    font-family: 'Times New Roman', Times, serif;
}

.blog-post h3 {
    border-bottom: 2px double black;
}



body.darkmode #blog-list {
    border-color: var(--primary-color);
}

body.darkmode .blog-post {
    border-color: var(--primary-color);
}

body.darkmode .blog-post h3 {
    border-color: var(--primary-color);
}